.img{
  width: 100%;
  height: 100%;
}

.contnr{
  padding-left: 1rem;
  padding-top: 1rem;
  margin: 1rem auto;
  border-radius: 5px;
  height: 830px;
  width: 1150px;
  display: grid; /*| inline-grid*/
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 10px 100px 100px;
}

.big{
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 7;
}

.big-alt{
  z-index: 5;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 10;
}

.smol1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 10;
}

.smol2 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 10;
}

.smol3 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 8;
  grid-row-end: 10;
}

.hype{
  z-index: 10;
  position: absolute;
  margin-left: 2px;
  margin-top: 2px;
  width: 1px;
  height: 1px;
  background-color: #ffccbc;
  border: solid 2px #eeeeee;
  transition: width 0.15s, height 0.15s;
  transition-timing-function: ease-out;

}

.hype-alt{
  z-index: 10;
  display: block;
  position: absolute;
  margin-left: 2px;
  margin-top: 2px;
  width: 400px;
  height: 850px;
  background-color: #ffccbc;
  border: solid 2px #eeeeee;
  transition: width 0.15s, height 0.15s;
  transition-timing-function: ease-out;

}

.hype-wide{
  z-index: 10;
  display: block;
  position: absolute;
  margin-left: 2px;
  margin-bottom: 1px;
  width: 99.5%;
  height: 250px;
  background-color: #ffccbc;
  border: solid 2px #eeeeee;
  transition: width 0.5s, height 0.5s;
  transition-timing-function: ease-out;
}

.hype-big{
  z-index: 10;
  display: block;
  position: absolute;
  margin-left: 2px;
  margin-top: 2px;
  width: 99.5%;
  height: 92%;
  background-color: #ffccbc;
  border: solid 2px #eeeeee;
  transition: width 0.5s, height 0.5s;
  transition-timing-function: ease-out;
}

.filler {
  width: 95%;
  height: 80%;
}

.bb {
  font-size: 0.8rem;
}

.hider{
  display: none;
}
.hider-alt{
  display: block;
}
